{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0"},
    {kvex,  "0.2.11"},
    {em_cache, {git, "https://github.com/EmergenceSystem/em_cache.git", {branch, "main"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [emquest]}
]}.

%% `unknown' surfaces calls to functions that don't exist / aren't exported
%% (the class of bug that a missing export caused) at build time.
{dialyzer, [
    {warnings, [unknown, no_return, error_handling]},
    {plt_extra_apps, [cowboy, cowlib, ranch, kvex, inets, ssl, crypto, public_key]}
]}.

{profiles, [
    {test, [{erl_opts, [nowarn_export_all]}]}
]}.
