[{emquest, [
    {port, 8079},
    {http, true},
    {expose_internal, false},
    {require_signatures, true},
    {root_pubkeys, [<<"lcQQmaSlplq2tdHV3LUDGAmNIEoN0KpYmqemq9M/Z4g=">>,
                    <<"TI7JVLsdL+yqfYtJTacko23BLaamR0pf7QgdTtKi3UU=">>]},
    {max_peers_per_source, 64}
]},
{kernel, [{logger_level, notice}]}].
